In [ ]:
#Import Dependencies
import pandas as pd       #importing pandas  librariry file
import numpy as np       #impotrting numpy librariry file
from sklearn import linear_model         #including linear_model dataset
from sklearn.model_selection import train_test_split     #including training and testing of data values

In [ ]:
#Load the boston housing data set from sklearn.dataset and print it
# from sklearn.datasets import load_boston
from sklearn.datasets import load_boston
# from sklearn.datasets import load_boston
boston=load_boston() #It gives dictionary like objects
print(boston)

{'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]]), 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]), 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'), 'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n", 'filename': 'c:\\users\\my\\pycharmprojects\\numpy_tut\\venv\\lib\\site-packages\\sklearn\\datasets\\data\\boston_house_prices.csv'}

In [ ]:
#Transform the dataset into dataframes
#data = data we want or the independent variables also known as the x values
#features_names=the column name of the data
#target=the target variables or the price of houses or dependent variables also known as y values


df_x=pd.DataFrame(boston.data, columns=boston.feature_names)        #storing data of feature names of boston file
df_y=pd.DataFrame(boston.target)                                  #storing data of target values in boston file
print(df_x)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[506 rows x 13 columns]

In [ ]:
#Get some statistic from the dataset count, mean etc
df_x.describe()                       #getting stats data from df_x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [ ]:
#Initialize the linear regression model
reg=linear_model.LinearRegression()                #storing linear regression dataset in variable reg

In [ ]:
#Split the 67% training and 33% testing data
x_train, x_test, y_train, y_test=train_test_split(df_x, df_y, test_size=0.33, random_state=0)     #giving 33% vlaues for testing proving randomness

In [ ]:
#train the model with training data
reg.fit(x_train, y_train)                #gives the updated values of weights and bias.

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#Print the coefficient/weights for each features/columns of our model
print(reg.coef_)                              #printing the variable reg.coef_

[[-1.19139697e-01  4.76307169e-02  3.11385581e-03  2.51765094e+00
  -1.65965017e+01  3.66544866e+00 -1.13971582e-02 -1.58813261e+00
   2.52228398e-01 -1.08619777e-02 -1.04804097e+00  6.18082895e-03
  -5.19802805e-01]]

In [ ]:
#print the prediction on our test data

y_pred=reg.predict(x_test)              #storing predicted xtest values in variable y_pred
print(y_pred)                                #printing data in variable

[[25.05724449]
 [24.05407999]
 [29.25938099]
 [12.05750131]
 [21.18581162]
 [19.14920374]
 [20.75676262]
 [21.13337207]
 [19.32699622]
 [20.48363362]
 [ 5.7150687 ]
 [16.96860719]
 [17.07000561]
 [ 5.3401587 ]
 [40.26829468]
 [32.47677328]
 [22.58051888]
 [36.70082192]
 [31.3008048 ]
 [23.27563303]
 [24.70467508]
 [24.59444902]
 [20.57932129]
 [30.65918166]
 [22.3431516 ]
 [10.94975797]
 [17.1969928 ]
 [18.28752909]
 [35.49890632]
 [20.68174162]
 [18.21604952]
 [17.70938649]
 [19.05091114]
 [23.53918682]
 [29.11147124]
 [19.56778144]
 [10.86377866]
 [25.2289279 ]
 [18.19836384]
 [15.39200866]
 [26.20836648]
 [20.68001556]
 [22.19883956]
 [15.57313776]
 [22.48713239]
 [24.72975221]
 [19.44307829]
 [22.97371546]
 [ 9.52318492]
 [24.26722712]
 [21.57600738]
 [17.56013349]
 [24.4605166 ]
 [29.50154303]
 [13.34409333]
 [21.42074333]
 [20.49357862]
 [14.6882007 ]
 [15.00767826]
 [21.83705067]
 [16.94539168]
 [21.40537981]
 [33.13823283]
 [31.68134604]
 [17.93621541]
 [33.16040628]
 [18.56130045]
 [18.6895698 ]
 [19.37612682]
 [23.10736601]
 [22.75686523]
 [24.03836133]
 [30.88844808]
 [28.8252676 ]
 [26.02275384]
 [ 4.93968249]
 [36.75222457]
 [23.63166218]
 [27.33097755]
 [19.21977734]
 [28.45463922]
 [18.98679664]
 [19.29047962]
 [37.92549394]
 [39.25560337]
 [23.69270277]
 [24.848662  ]
 [16.91651549]
 [26.06512062]
 [16.66463727]
 [15.32606996]
 [13.34686647]
 [24.17078036]
 [30.8565849 ]
 [22.18402167]
 [19.70759797]
 [ 0.17711835]
 [24.89356344]
 [16.08301521]
 [17.20166253]
 [25.4729439 ]
 [22.21557227]
 [32.64967778]
 [22.0051717 ]
 [27.11048119]
 [23.12010212]
 [ 6.91865716]
 [15.21537203]
 [22.28255083]
 [29.32345387]
 [33.3936522 ]
 [13.12350904]
 [19.25924344]
 [20.78627286]
 [11.34789177]
 [23.30684637]
 [ 5.22172311]
 [19.65740564]
 [ 9.17936565]
 [45.03765315]
 [30.75519248]
 [12.30482494]
 [17.04117331]
 [21.4897825 ]
 [23.56264638]
 [20.17184672]
 [35.17633093]
 [12.79836004]
 [20.62531399]
 [35.37655892]
 [19.36527826]
 [13.63139071]
 [13.8665024 ]
 [23.08697704]
 [14.97656144]
 [30.92747398]
 [25.31691498]
 [15.10649948]
 [23.89676935]
 [ 9.70356061]
 [14.80218472]
 [21.09803902]
 [32.99030192]
 [27.82279424]
 [26.03093301]
 [14.97905923]
 [31.13822368]
 [27.60225536]
 [14.5299803 ]
 [ 7.30620705]
 [28.39478931]
 [24.97270536]
 [ 3.92329113]
 [28.42169525]
 [16.88578067]
 [29.66923289]
 [20.1882128 ]
 [15.3133544 ]
 [17.50174697]
 [12.1045472 ]
 [ 9.11831273]
 [18.82058806]
 [34.55677902]
 [32.92737806]
 [22.63045794]
 [19.24058554]
 [22.75208666]]

In [ ]:
print(y_test)

        0
329  22.6
371  50.0
219  23.0
403   8.3
78   21.2
..    ...
281  35.4
231  31.7
64   33.0
327  22.2
322  20.4

[167 rows x 1 columns]

In [ ]:
#Check the model performance / accuracy using Mean Squared Error(MSE)
print(np.mean(y_pred-y_test)**2)              #checking the accuracy by mean square error

0    0.108101
dtype: float64

In [ ]:
#Check the model performance / accuracy using Mean squared Error(MSE)
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test, y_pred))                          #printing mean squared error at point(y_test, y_pred)

26.558581842040674